@import 'abstracts/variables';

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 20px;
  background-color: $color-secondary-light;
  transform: translate(-50%, -50%);

  &__screen {
    margin-bottom: 20px;

    &__resultHistory,
    &__result,
    &__lastNumber {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      height: 80px;
      padding: 10px;
      overflow: hidden;
      text-align: right;
      text-overflow: ellipsis;
      background-color: $color-screen;
    }

    &__resultHistory {
      position: relative;
      font-size: 20px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 95%;
        height: 2px;
        background-color: $color-secondary;
        transform: translateX(-50%);
        content: '';
      }
    }

    &__result,
    &__lastNumber {
      font-size: 30px;

    }

  }

  &__buttons {
    display: flex;
    flex-direction: column;

    &__row {
      display: flex;

      & button,
      &__logo {
        flex: 1 0 0;
        height: 60px;
        padding: 10px;
      }

      & button {
        color: $color-primary;
        font-size: 18px;
        background-color: $color-secondary;
      }

      &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 90px;
        background-color: $color-secondary-light;

        & img {
          height: 100%;
          pointer-events: none;
        }
      }

    }

  }

}