<div class="calculator">
  <div class="calculator__screen">
    <div class="calculator__screen__resultHistory">{{ resultHistory.toString().split(',').join(' ') }}</div>
    <div *ngIf="result === ''" class="calculator__screen__lastNumber">{{ lastNumber }}</div>
    <div *ngIf="result !== ''" class="calculator__screen__result">{{ result }}</div>
  </div>
  <div class="calculator__buttons">
    <div class="calculator__buttons__row">
      <button (click)="pressedButton('CE')">CE</button>
      <button (click)="pressedButton('C')">C</button>
      <button (click)="pressedButton('X')">X</button>
      <button (click)="pressedButton('/')">/</button>
    </div>
    <div class="calculator__buttons__row">
      <button (click)="pressedButton('7')">7</button>
      <button (click)="pressedButton('8')">8</button>
      <button (click)="pressedButton('9')">9</button>
      <button (click)="pressedButton('*')">*</button>
    </div>
    <div class="calculator__buttons__row">
      <button (click)="pressedButton('4')">4</button>
      <button (click)="pressedButton('5')">5</button>
      <button (click)="pressedButton('6')">6</button>
      <button (click)="pressedButton('-')">-</button>
    </div>
    <div class="calculator__buttons__row">
      <button (click)="pressedButton('1')">1</button>
      <button (click)="pressedButton('2')">2</button>
      <button (click)="pressedButton('3')">3</button>
      <button (click)="pressedButton('+')">+</button>
    </div>
    <div class="calculator__buttons__row">
      <button (click)="pressedButton('0')">0</button>
      <button (click)="pressedButton('.')">,</button>
      <button (click)="pressedButton('=')">=</button>
      <div class="calculator__buttons__row__logo">
        <img src="assets/img/devoralime-logo.png" alt="Devoralime Logo">
      </div>
    </div>
  </div>
</div>